@inherits LayoutComponentBase

<div class="d-flex flex-column flex-lg-row" style="min-height: 100vh;">

    <!-- Sidebar -->
    <div class="sidebar-wrapper">
        <NavMenu />
    </div>

    <!-- Nội dung chính -->
    <div class="flex-grow-1 d-flex justify-content-center align-items-center main-content">
        <main class="container-fluid p-5">
            @Body
        </main>
    </div>
</div>