.sidebar-wrapper {
  width: 17rem;
  flex-shrink: 0;
  z-index: 1030;
}

/* Mobile & Tablet */
@media (max-width: 991.98px) {
  .sidebar-wrapper {
    width: 100%;
    position: relative;
  }

  .main-content {
    margin-top: 0;
    width: 100%;
  }
}