@page "/skills"

<style>
    .dev-icon {
        font-size: 3rem;
    }
</style>
<div class="experience">
    <div class="container">
        <h1 class="mb-5">Skills</h1>

        <div class="subheading">
            Programming Languages & Tools
        </div>

        <div class="d-flex dev-icon-group my-3">
            <div class="dev-icon">
                <i class="fa-brands fa-html5"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-css3-alt"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-square-js"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-angular"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-react"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-node-js"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-sass"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-less"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-wordpress"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-gulp"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-grunt"></i>
            </div>
            <div class="dev-icon">
                <i class="fa-brands fa-npm"></i>
            </div>
        </div>

        <div class="subheading mb-3">
            Workflow
        </div>
        <ul class="list-unstyled">
            <li><i class="fa-solid fa-check me-2 text-success"></i>Mobile-First, Responsive Design</li>
            <li><i class="fa-solid fa-check me-2 text-success"></i>Cross Browser Testing & Debugging</li>
            <li><i class="fa-solid fa-check me-2 text-success"></i>Cross Functional Teams</li>
            <li><i class="fa-solid fa-check me-2 text-success"></i>Agile Development & Scrum</li>
        </ul>
    </div>
</div>